<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - brands</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <%- include('partials/brandpartials/brandTable.ejs') %>
    <%- include('./partials/brandpartials/addBrandModal.ejs') %>
    <%- include('./partials/brandpartials/editBrandModal.ejs') %>
    <%- include('./partials/scripts.ejs') %>
    <%- include('./partials/brandpartials/brandScripts.ejs') %>
</body>
</html>