<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - categories</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <%- include('./partials/categorypartials/categoryTable.ejs') %>
    <%- include('./partials/categorypartials/addCategoryModal.ejs') %>
    <%- include('./partials/categorypartials/editCategoryModal.ejs') %>
    <%- include('./partials/scripts.ejs') %>
    <%- include('./partials/categorypartials/categoryScripts.ejs') %>
</body>
</html>