<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - orders</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <%- include('partials/orderpartials/orderTable.ejs') %>
    <%- include('partials/orderpartials/orderModal.ejs') %>
    <%- include('./partials/scripts.ejs') %>
    <%- include('partials/orderpartials/orderScripts.ejs') %>
</body>
</html>