<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - Products</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/productpartials/searchForms.ejs') %>
    <%- include('./partials/productpartials/productModal.ejs') %>
    <%- include('./partials/productpartials/productTable.ejs') %>
    <%- include('./partials/productpartials/productTableScripts.ejs') %>
    <%- include('./partials/scripts.ejs') %>
</body>
</html>
