<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - Users</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <%- include('./partials/userpartials/UserTable.ejs') %>
    <%- include('./partials/userpartials/editUserModal.ejs') %>
    <%- include('./partials/scripts.ejs') %>
    <%- include('./partials/userpartials/UserScripts.ejs') %>
</body>
</html>
